#bluetooth-up.service
[Unit]
Description=Bluetooth auto power on
Before=bttest.service
After=multi-user.target 
#After=bluetooth.service

[Service]
Type=simple
ExecStartPre = /usr/sbin/rfkill unblock all
ExecStart = /usr/bin/hciconfig hci0 up

[Install]
WantedBy=multi-user.target
